body {
	margin: 0;
	font-family: Monaco;
}
canvas {
  display: block;
  margin: auto;
  margin-top: 3.5%;
}

#btn_container {
	padding: 0;
	position: fixed;
	top: 0px;
	width: 100%;
}

.btn {
	line-height: 2.5em;
	float: left;
	text-align: center;
	width: 33.33%;
	height: 7%;
	color: #fff;
	background-color: #000;
}

.btn:hover {
	color: #000 !important;
	background-color: #fff !important;
}

#speed_container {
	padding: 0;
	position: fixed;
	bottom: 0px;
	right: 0px
}

#label {
	text-align: center;
	background-color: #000;
	color: #fff;
	border-bottom: 1px solid;
}
#minus,
#plus {
	float: left;
	width: 3em;
	height: 1.5em;
	line-height: 1.5em;
	color: #fff;
	background-color: #000;
	text-align: center;
	font-size: 2em;
}

#plus:hover,
#minus:hover {
	color: #000;
	background-color: #fff;
}